.real_estates_card {
  padding: $padding-xl;
  width: 50%;

  &_content {

      .picture {
        position: relative;
        overflow: hidden;

        border-radius: $rounded-sm;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 75%;

        &_caption {
          color: $text-color-tertiary;
          padding: 0 $padding-md;

          width: 100%;
          bottom: 0;
          position: absolute;

          background-color: $primary-color;
          opacity: 80%;
        }
      }

    .info_container {
      margin: $margin-md 0;
      color: $text-color-secondary;

      .text {
        display: flex;
        justify-content: space-around;
      }

      .buttons {

        display: flex;
        gap: 1rem;

        padding: $padding-md 0;

        border-top: $border-secondary;
        border-bottom: $border-secondary;

        .see_now__button, .analyze__link {
          width: 50%;
        }

        .analyze__link {
          text-align: center;
        }
      }

      .bold_text {
        color: $text-color-primary;
        font-weight: bold;
      }
    }
  }
}
